canvas{
    border: 10px;
    background: #cdcdcd;
}
body{
    font-family: sans-serif;
    text-align:center;
    background-color: #3fb39a;
    min-width: 1200px;

}
*{
    padding: 0px;
    margin:0px;
}
#nav_bar{
    background: black;
    position: fixed;
    /*height: 50px;*/
    width: 100%;
    line-height: 50px;
    z-index: 1;
}
#nav_bar li{
    list-style-type: none;
    display: inline-block;
    float: left;
    position: relative;
    margin-right:20px;
    line-height: 55px;
    padding-left: 10px;
}
#nav_bar li{
    text-decoration: none;
    color: white;
}
#nav_bar li:hover{
    background: #e6e6ff;
    text-decoration: none;
    color: black;
}

footer
{
    height: 40px;
    background: #86e4e4;
    font-family: sans-serif;
    text-color : green;

}