canvas{
    border: 10px;
    background: #cdcdcd;
    margin: auto;
}
body{
    font-family: sans-serif;
    text-align:center;
    background-color: #fff000;
    min-width: 1200px;
    display: block;


}
*{
    padding: 0px;
    margin:0px;
}
#nav_bar{
    background: #26dfff;
    position: fixed;
    /*height: 50px;*/
    width: 100%;
    line-height: 50px;
    z-index: 1;
}
#nav_bar li{
    list-style-type: none;
    display: inline-block;
    float: left;
    position: relative;
    margin-right:20px;
    line-height: 55px;
    padding-left: 10px;
    padding-right: 10px;
}
#nav_bar li{
    text-decoration: none;
    color: white;
}
#nav_bar li:hover{
    background: #e6e6ff;
    text-decoration: none;
    color: black;
}
header{
    padding:20px;
}
h1{
    font-family: sans-serif;
    text-shadow: 0px -11px 10px #e6e6ff, 0px -3px 9px #cfffe8 ;
    font-size: 3.2em;
    color: #fff;
    text-align: center;
    padding: 10px 0px 10px 0px;

}
section
{

    position: fixed;
    top:100px;
    left: 150px;
    width: 500px;
    height: 500px;
    text-align: center;
}
footer
{
    position: absolute;
    height: 40px;
    background: #86e4e4;
    font-family: sans-serif;
    text-color : green;
    top: 900px;
    left: 0px;
    width: 100%;
}

input,select, textarea {
    width: 70%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #ffffff;
}
input[type=button],input[type=submit],input[type=reset] {
    background-color: #51ffeb;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: sans-serif;
    width: 120px;
}

/* When moving the mouse over the submit button, add a darker green image */
input[type=button]:hover {
    background-color: #cfffe8;

}
input[type=submit]:hover {
    background-color: #cfffe8;

}
input[type=reset]:hover {
    background-color: #cfffe8;

}
.container2 {
    border-radius: 5px;
    background-color: #7debff;
    padding: 30px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
}
dialog{
    background-color: #51ffeb;
    font-family: sans-serif;
    width: 380px;
    height: 280px;
    position: fixed;
    top: 50%;
    left:50%;
    border: 3px solid #26dfff;
   color: purple;
    text-align: center;
}
dialog h3 {
    text-decoration: underline;
    text-align: center;
}
.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}
welocmeTitle{
    color: #fff;
    text-align: center;
}
boxes{
    padding: 2px;
}
#inputs ul{
    /*list-style-type: none;*/
    display: block;

    position: relative;
    margin-right:20px;
    line-height: 55px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
#inputs li{
    float: left;
}
